*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.addPost {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.add-file {
  padding: 8px 10px;
  text-align: center;
  border: 1px dashed black;
  cursor: pointer;
}

.img img {
  width: 450px;
  height: 380px;
  object-fit: cover;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.texts label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.addPost button {
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
}